.suscriptionContent_text{
    max-width: 466px;
    margin: auto;
}
.suscriptionContent__title{
    margin-top: 8rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.suscriptionContent__subtitle{
    margin-top: 2.4rem;
}
.suscriptionContent__cardContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.suscriptionContent::-webkit-scrollbar {
    display: none;
}

/*media queries*/
@media (min-width: 600px){
    .suscriptionContent__title{
        font-size: 4rem;
        line-height: 4.2rem;
    }
    .suscriptionContent__subtitle{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    .suscriptionContent__cardContainer{
        justify-content: center;
    }
}